@model int


<!-- Cart Icon with Red Badge -->
<div class="cart-icon-container">
    <i class="bi bi-cart-fill"></i> <!-- Bootstrap Cart Icon -->
    <span class="cart-badge">@Model</span> <!-- Cart Item Count (Model) -->
</div>
